@import "../utilities/variables";

.footer {
  padding: 120px 60px;
  background: $lightGray;
  position: relative;

  .circles {
    display: none;

    @media (min-width: 992px) {
      display: block;
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.5;
    }
  }

  .container {
    max-width: 1160px;
    margin: 0 auto;

    .text-container {
      text-align: center;
      h2 {
        max-width: 800px;
        margin: 0 auto;
      }
    }

    .icons-container {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .icon {
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: $transition;

        svg {
          color: $blue;
          font-size: 30px;
        }

        &:hover {
          background: $blue;
          svg {
            color: white;
          }
        }
      }
    }

    .line-break {
      margin-top: 2rem;
      margin-bottom: 2rem;
      height: 1px;
      transform: scale(0.8);
      background: $darkerGray;
    }

    .copy-text {
      text-align: center;
    }
  }
}
