$openSans: "Open Sans", sans-serif;
$blue: #0092ff;
$lightBlue: #ddedfb;
$red: #ef473d;
$lightRed: #fbe4e4;
$green: #16c66d;
$lightGreen: #e0f4ea;
$lightGray: #fcfafb;
$darkerGray: #5e65a1;
$darkGray: #223150;
$transition: all 0.3s linear;
