@import "./utilities/variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: $openSans;
  text-decoration: none;
}

img {
  display: block;
}
